.word-count-button {
  margin: 20px;
}

.outer-container {
  float: left;
  padding: 15px;
  text-align: center;
  width: 100%;
}

.table {
  table-layout: fixed;
}

.table tr th {
  text-align: center;
}
